.main-header{
   font-size: 20px; 
}
.sub-header{
   font-size: 18px; 
}

.gray-submit {
   background-color: #6c757d;
   color: white;
}

.green-submit {
   background-color: rgb(40,167,69);
   color: white;
}

.blue-submit{
   background-color: rgb(0,124,254);
   color: white;
}

.red-submit{
   background-color: rgb(220,52,68);
   color: white;
}

.cancel-submit{
   background-color: white;
   color: #bee2e8;
}

.flashes{
   background-color: rgb(235, 176, 176);
   color: red;
}
.content{
   display: flex;
   flex-direction: column;
}

.user-img{
   width: 200px;
}

.user-img img{
   max-width: 300px;
   max-height: 300px;
}

.tags-wrapper{
   display: flex;
}

.tag{
   background-color: rgb(0,124,254);
   color: white;
   padding: 2px 4px;
   font-size: 10px;
}

