{% extends 'base.html' %}
{% block header %}
    <h1 class="main-header">Edit user info for:&nbsp {{user.first_name}}&nbsp{{user.last_name}}</h1>
{% endblock header %}
{% block content %}
    <form method="post">
        <label for="fname">First Name</label>
        <input id="fname" type="text" name="first_name" value={{user.first_name}} placeholder="Enter first name">
        <label for="lname">Last Name</label>
        <input id="lname" type="text" name="last_name" value={{user.last_name}} placeholder="Enter last name">
        <label for="imgurl">Image URL</label>
        <input id="imgurl" type="text" name="img_url" value={{user.image_url}} placeholder="Provide an image of this user">
        <button type="submit" formaction="{{url_for('post_user_edits_to_db', user_id=user.id)}}" class="green-submit">Save</button>
    <a href="{{url_for('show_user_detail', user_id=user.id)}}"><button class="cancel-submit">Cancel</button></a>
    </form>
{% endblock content %}