
{% extends 'base.html' %}
{% block header %}
    
{% endblock header %}
{% block content %}
  <div class="user-wrapper">
      <!-- add image source -->
      <div class="user-img"><img src="{{user.image_url}}" alt="image of user"></div>
      <div class="name-and-buttons">
          <!-- add name variable -->
        <h1 class="main-header">{{user.first_name}}{{user.last_name}}</h1> 
        <a href="/users/{{user.id}}/edit"><button class="blue-submit">Edit</button></a>
        <a href="/users/{{user.id}}/delete"><button class="red-submit">Delete</button></a>
      </div>
  </div>
{% endblock content %}