{% extends 'base.html' %}
{% block header %}
    <h1 class="main-header">{{title}}</h1>
{% endblock header %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flashes">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <ul>
            {% for user in users %}
                {% with user_id = user.id %}
                    <!-- "/users/{{user.id}}"  -->
                    <li><a href="{{ url_for('show_user_detail', user_id=user_id)}}">{{user.fullname()}}</a></li>
                {% endwith %}
            {% endfor %}
    </ul>
    <a href="{{ url_for('add_new_user')}}"><button class="gray-submit">Add User</button></a>
{% endblock content %}
